---
import { SITE } from "../consts/index.js";
import NeonText from "./NeonText";
import CardItem from "./CardItem.jsx";
import CardLayout from "./CardLayout.jsx";
---

<section
    id="skills"
    class="max-w-6xl mx-auto min-h-[calc(100dvh-64px)] scroll-mt-16 relative overflow-hidden flex flex-col justify-center px-4 md:px-8 py-12 text-white border-b border-slate-900/40"
>
    <div
        class="absolute bottom-0 right-1/4 w-80 h-80 bg-accent/5 rounded-full blur-[100px] pointer-events-none animate-pulse duration-4000"
    >
    </div>

    <div
        class="absolute inset-0 bg-[radial-gradient(#ffffff03_1px,transparent_1px)] bg-size-[24px_24px] pointer-events-none"
    >
    </div>

    <div class="w-full space-y-12 z-10">
        <div class="text-center md:text-left space-y-3">
            <NeonText class="text-3xl md:text-left">My Tech Stack</NeonText>

            <p
                class="text-sm md:text-base text-slate-400 max-w-xl mx-auto md:mx-0 leading-relaxed font-normal"
            >
                // These are the tools that I'm working with my day to day life.
            </p>
        </div>

        <div
            class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6 md:gap-8"
        >
            {
                SITE.skills.map((skillGroup) => (
                    <CardLayout category={skillGroup.category}>
                        {skillGroup.items.map((item) => (
                            <CardItem item={item} />
                        ))}
                    </CardLayout>
                ))
            }
        </div>
    </div>
</section>
